<section class="section">
    <!-- banner design start -->
    <div class="section-one">
        <div class="section-one-child">
            <div class="compare-page-banner">
                <div class="compare-page">
                    <h2>
                        Confused? Easy way to compare cars
                    </h2>
                </div>
                <span class="banner-circel"></span>
            </div>
        </div>
    </div>
    <!-- banner design end -->

    <!-- pagination design start -->
    <div class="section-one-child">
        <div class="pagination">
            <span class="privious_page"><a href="#">Home</a></span>
            <span class="icon">
                <i class="fas fa-angle-right"></i>
            </span>
            <span class="current_page">Compare cars</span>
        </div>
    </div>
    <!-- pagination design end -->



    <!-- compare card design start -->
    <div class="section-one-child">
        <div class="compare-cards">
            <div class="cards">
                <!-- card one -->
                <div class="card">
                    <div class="card-imge">

                    </div>
                    <div class="select-car">

                    </div>
                </div>

                <!-- card two -->
                
            </div>
        </div>
    </div>
    <!-- compare card design end -->


    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
</section>