<section class="section">

    <!-- pagination design start -->
    <div class="section-one-child">
        <div class="pagination">
            <span class="privious_page"><a href="#">Home</a></span>
            <span class="icon">
                <i class="fas fa-angle-right"></i>
            </span>
            <span class="privious_page"><a href="#">New car</a></span>
            <span class="icon">
                <i class="fas fa-angle-right"></i>
            </span>
            <span class="privious_page"><a href="#">Compare car</a></span>
            <span class="icon">
                <i class="fas fa-angle-right"></i>
            </span>
            <span class="current_page">Maruti Alto 800 vs Honda City Hybrid</span>
        </div>
    </div>
    <!-- pagination design end -->



    <!-- compare card design start -->
    <div class="difference">
        <div class="section-one-child">
            <div class="compare-cards">
                <h1>Maruti Alto 800 vs Honda City Hybrid Comparison</h1>
                <div class="card-item">
                    <div class="cards">

                        <!-- card one -->
                        <!-- <div class="card">
                            <div class="card-imge">
                                <div class="adding-image d-none">
                                    <div class="plus">
                                        <i class="las la-plus"></i>
                                    </div>
                                    <h5>add card</h5>
                                </div>
                                <div class="image">
                                    <img src="../../../assets/image/car/front-left-side-47.jpg" alt="">
                                </div>
                            </div>
                            <div class="select-cars">
                                <div class="select-car d-none">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Select Brand/Model</mat-label>
                                        <mat-select>
                                            <mat-option value="one">Maruti Alto 800</mat-option>
                                            <mat-option value="two">Maruti Alto 800 tour</mat-option>
                                            <mat-option value="three">Maruti Baleno</mat-option>
                                            <mat-option value="four">Maruti Ciaz</mat-option>
                                        </mat-select>
                                    </mat-form-field>
        
                                    <mat-form-field appearance="outline">
                                        <mat-label>Select Variant</mat-label>
                                        <mat-select>
                                            <mat-option value="one">STD opt(petrol) 3.69 Lakh*</mat-option>
                                            <mat-option value="two">LXI opt(petrol) 4.08 Lakh*</mat-option>
                                            <mat-option value="three">VXI opt(petrol) 4.28 Lakh*</mat-option>
                                            <mat-option value="four">Ciaz</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
        
                                <div class="selected-cars">
                                    <h3>
                                        Maruti Alto 800 
                                        <span>
                                            <a href="#">
                                                <i class="las la-pen"></i>
                                            </a>
                                        </span>
                                    </h3>
        
                                    <div class="selected">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Select Brand/Model</mat-label>
                                            <mat-select>
                                                <mat-option value="one">Maruti Alto 800</mat-option>
                                                <mat-option value="two">Maruti Alto 800 tour</mat-option>
                                                <mat-option value="three">Maruti Baleno</mat-option>
                                                <mat-option value="four">Maruti Ciaz</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <h2>
                                        Rs4.08 Lakh*
                                    </h2>
                                    <p>
                                        *Ex-showroom Price
                                    </p>
                                </div>
                            </div>
        
                        </div> -->

                        <!-- card-two -->
                        <div class="card">
                            <div class="card-imge">
                                <div class="adding-image d-none">
                                    <div class="plus">
                                        <i class="las la-plus"></i>
                                    </div>
                                    <h5>add card</h5>
                                </div>
                                <div class="image">
                                    <img src="../../../assets/image/car/front-left-side-47 (1).jpg" alt="">
                                    <a class="cross" href="#">x</a>
                                </div>
                            </div>
                            <div class="select-car">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Select Brand/Model</mat-label>
                                    <mat-select>
                                        <mat-option value="one">Maruti Alto 800</mat-option>
                                        <mat-option value="two">Maruti Alto 800 tour</mat-option>
                                        <mat-option value="three">Maruti Baleno</mat-option>
                                        <mat-option value="four">Maruti Ciaz</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Select Variant</mat-label>
                                    <mat-select>
                                        <mat-option value="one">STD opt(petrol) 3.69 Lakh*</mat-option>
                                        <mat-option value="two">LXI opt(petrol) 4.08 Lakh*</mat-option>
                                        <mat-option value="three">VXI opt(petrol) 4.28 Lakh*</mat-option>
                                        <mat-option value="four">Ciaz</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="offers">
                                <a href="#">Check June Offers</a>
                            </div>
                        </div>
                        <!-- card-two -->
                        <div class="card">
                            <div class="card-imge">
                                <div class="adding-image d-none">
                                    <div class="plus">
                                        <i class="las la-plus"></i>
                                    </div>
                                    <h5>add card</h5>
                                </div>
                                <div class="image">
                                    <img src="../../../assets/image/car/front-left-side-47.jpg" alt="">
                                    <a class="cross" href="#">x</a>
                                </div>
                            </div>
                            <div class="select-car">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Select Brand/Model</mat-label>
                                    <mat-select>

                                        <mat-option value="one">Maruti Alto 800</mat-option>
                                        <mat-option value="two">Maruti Alto 800 tour</mat-option>
                                        <mat-option value="three">Maruti Baleno</mat-option>
                                        <mat-option value="four">Maruti Ciaz</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Select Variant</mat-label>
                                    <mat-select>
                                        <mat-option value="one">STD opt(petrol) 3.69 Lakh*</mat-option>
                                        <mat-option value="two">LXI opt(petrol) 4.08 Lakh*</mat-option>
                                        <mat-option value="three">VXI opt(petrol) 4.28 Lakh*</mat-option>
                                        <mat-option value="four">Ciaz</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="offers">
                                <a href="#">Check June Offers</a>
                            </div>
                        </div>

                        <!-- card three -->
                        <div class="card  card-three">
                            <div class="card-imge">
                                <div class="adding-image">
                                    <div class="plus">
                                        <i class="las la-plus"></i>
                                    </div>
                                    <h5>add card</h5>
                                </div>
                                <div class="image d-none">
                                    <img src="" alt="">
                                </div>
                            </div>
                            <div class="select-car">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Select Brand/Model</mat-label>
                                    <mat-select>

                                        <mat-option value="one">Maruti Alto 800</mat-option>
                                        <mat-option value="two">Maruti Alto 800 tour</mat-option>
                                        <mat-option value="three">Maruti Baleno</mat-option>
                                        <mat-option value="four">Maruti Ciaz</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Select Variant</mat-label>
                                    <mat-select>
                                        <mat-option value="one">STD opt(petrol) 3.69 Lakh*</mat-option>
                                        <mat-option value="two">LXI opt(petrol) 4.08 Lakh*</mat-option>
                                        <mat-option value="three">VXI opt(petrol) 4.28 Lakh*</mat-option>
                                        <mat-option value="four">Ciaz</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- card four -->
                        <!-- <div class="card card-three">
                            <div class="card-imge">
                                <div class="adding-image">
                                    <div class="plus">
                                        <i class="las la-plus"></i>
                                    </div>
                                    <h5>add card</h5>
                                </div>
                                <div class="image d-none">
                                    <img src="../../../assets/image/car/" alt="">
                                </div>
                            </div>
                            <div class="select-car">
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Select Brand/Model</mat-label>
                                    <mat-select>
        
                                        <mat-option value="one">Maruti Alto 800</mat-option>
                                        <mat-option value="two">Maruti Alto 800 tour</mat-option>
                                        <mat-option value="three">Maruti Baleno</mat-option>
                                        <mat-option value="four">Maruti Ciaz</mat-option>
                                    </mat-select>
                                </mat-form-field>
        
                                <mat-form-field class="full" appearance="outline">
                                    <mat-label>Select Variant</mat-label>
                                    <mat-select>
                                        <mat-option value="one">STD opt(petrol) 3.69 Lakh*</mat-option>
                                        <mat-option value="two">LXI opt(petrol) 4.08 Lakh*</mat-option>
                                        <mat-option value="three">VXI opt(petrol) 4.28 Lakh*</mat-option>
                                        <mat-option value="four">Ciaz</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
         -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- compare card design end -->


    <!-- hide common feature start -->
    <div class=" common-hide-feature">
        <div class="section-one-child">
            <div class="hide-feature">
                <mat-checkbox class="example-margin">Hide Common Features</mat-checkbox>
            </div>
        </div>
    </div>
    <!-- hide common feature end -->

    <!-- compare-details start -->
    <div class="section-one-child">
        <div class="compare-details">
            <div class="compare-info">
                <h1>Maruti Alto 800 vs Honda City Hybrid</h1>
                <p>
                    Should you buy Maruti Alto 800 or Honda City Hybrid? Find out which car is best for you - compare
                    the two models on the basis of their Price, Size, Space, Boot Space, Service cost, Mileage,
                    Features, Colours and other specs. Maruti Alto 800 price starts at Rs 3.39 Lakh ex-showroom for STD
                    Opt (Petrol) and Honda City Hybrid price starts Rs 19.50 Lakh ex-showroom for ZX Sensing eHEV
                    (Petrol). Alto 800 has 796 cc (CNG top model) engine, while City Hybrid has 1498 cc (Petrol top
                    model) engine. As far as mileage is concerned, the

                    <span><a href="#">Read More...</a></span>
                </p>
            </div>

            <!-- compare details table one -->
            <div class="compare_details_table">
                <table>
                    <thead>
                        <tr>
                            <th class="car-detail">
                                <i class="fab fa-delicious"></i>
                                Basic Information
                            </th>
                            <th>
                                VXI Plus
                            </th>
                            <th>
                                ZX Sensing eHEV
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="car-detail">Brand name</td>
                            <td><a href="#">Maruti</a></td>
                            <td><a href="#">Honda</a></td>
                        </tr>
                        <tr>
                            <td class="car-detail">On Road Price </td>
                            <td><i class="las la-rupee-sign"></i>4,82,530*</td>
                            <td><i class="las la-rupee-sign"></i>22,35,372<sup>#</sup></td>
                        </tr>
                        <tr>
                            <td class="car-detail">Offers & Discount</td>
                            <td>6 offers
                                <a href="">View now</a>
                            </td>

                            <td>
                                <img src="../../../assets/image/icon/remove.png" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td class="car-detail">User Rating</td>
                            <td>
                                <div class="car-rating">
                                    <span>4.3 </span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                                <span class="base-review">Based on <a href="#"> 427 reviews</a></span>
                            </td>
                            <td>
                                <div class="car-rating">
                                    <span>4.8 </span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                                <span class="base-review">Based on <a href="#"> 19 reviews</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="car-detail">Finance Available (EMI)</td>
                            <td>
                                <i class="las la-rupee-sign"></i>9,189
                                <a class="click" href="#">Click Now</a>
                            </td>
                            <td>
                                <i class="las la-rupee-sign"></i>42,713
                                <a class="click" href="#">Click Now</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="car-detail">Insurance</td>
                            <td><i class="las la-rupee-sign"></i>23,370
                                <a href="#">Alto 800 Insurance</a>
                            </td>
                            <td>
                                <i class="las la-rupee-sign"></i>58,630
                                <a href="#">City Hybrid Insurance</a>
                            </td>
                        </tr>
                        <tr>

                            <td class="car-detail">Service Cost (Avg. of 5 years)</td>
                            <td><i class="las la-rupee-sign"></i>3,387</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- compare details table one -->
            <div class="compare_details_table">
                <table>
                    <thead>
                        <tr>
                            <th class="car-detail">
                                <i class="fab fa-delicious"></i>
                                Basic Information
                            </th>
                            <th>
                                VXI Plus
                            </th>
                            <th>
                                ZX Sensing eHEV
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="car-detail">Brand name</td>
                            <td><a href="#">Maruti</a></td>
                            <td><a href="#">Honda</a></td>
                        </tr>
                        <tr>
                            <td class="car-detail">On Road Price </td>
                            <td><i class="las la-rupee-sign"></i>4,82,530*</td>
                            <td><i class="las la-rupee-sign"></i>22,35,372<sup>#</sup></td>
                        </tr>
                        <tr>
                            <td class="car-detail">Offers & Discount</td>
                            <td>6 offers
                                <a href="">View now</a>
                            </td>

                            <td>
                                <img src="../../../assets/image/icon/remove.png" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td class="car-detail">User Rating</td>
                            <td>
                                <div class="car-rating">
                                    <span>4.3 </span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                                <span class="base-review">Based on <a href="#"> 427 reviews</a></span>
                            </td>
                            <td>
                                <div class="car-rating">
                                    <span>4.8 </span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </div>
                                <span class="base-review">Based on <a href="#"> 19 reviews</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="car-detail">Finance Available (EMI)</td>
                            <td>
                                <i class="las la-rupee-sign"></i>9,189
                                <a class="click" href="#">Click Now</a>
                            </td>
                            <td>
                                <i class="las la-rupee-sign"></i>42,713
                                <a class="click" href="#">Click Now</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="car-detail">Insurance</td>
                            <td><i class="las la-rupee-sign"></i>23,370
                                <a href="#">Alto 800 Insurance</a>
                            </td>
                            <td>
                                <i class="las la-rupee-sign"></i>58,630
                                <a href="#">City Hybrid Insurance</a>
                            </td>
                        </tr>
                        <tr>

                            <td class="car-detail">Service Cost (Avg. of 5 years)</td>
                            <td><i class="las la-rupee-sign"></i>3,387</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- compare- details end -->

    <br><br><br>
</section>