<section class="section">
    <div class="section-one-child">
        <div class="nav">
            <!-- header top area start -->
            <div class="top-area" [class]="headerFixed==true ? 'top-fixed' : 'inactive' ">
                <div class="image">
                    <img src="../../../assets/image/logo/carDekho-logo.svg" alt="logo">
                </div>
                <div class="search">
                    <div class="search-area">
                        <input class="search-input" placeholder="Search Cars or Brands eg. Swift, or Maruti"
                            type="text">
                        <button class="search-btn" type="submit" value="submit">
                            <i class="las la-search"></i>
                        </button>
                    </div>
                </div>
                <div class="user">
                    <div class="user-log">
                        <ul>
                            <li>
                                <a class="bell" href="#">
                                    <i class="las la-bell bell-icon"></i><sup>6</sup>
                                </a>
                            </li>
                            <li>
                                <a href="#">English</a>
                            </li>
                            <li>
                                <a href="#"><i class="las la-user user-icon"></i> Login / Resister</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- header top area end -->
        </div>
    </div>

    <div class="bottom-menu">
        <div class="section-one-child">
            <!-- header bottom area start -->
            <div class="bottom-area">
                <div class="bottm-side">
                    <div class="nav-item">
                        <i class="toggle fas fa-bars"></i>
                        <ul>
                            <li class="nav-toggle">
                                <a href="#">
                                    <span>
                                        Home
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>
                                        Used Car
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>
                                        New Car
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>
                                        Compare Cars
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Sell Car</a>
                            </li>
                        </ul>
                    </div>

                    <div class="location">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fas fa-map-marker-alt location-icon"></i>
                                    New Delhi
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header bottom area end -->
        </div>
    </div>
</section>