<section class="section">

    <div class="top-footer">
        <div class="section-one-child">
            <div class="top-footer-area">
                <div class="one">
                    <div class="icon">
                        <i class="lab la-angellist"></i>
                    </div>
                    <div class="info">
                        <h2>
                            India’s #1
                        </h2>
                        <p>Largest Auto portal</p>
                    </div>
                </div>
                <div class="one">
                    <div class="icon">
                        <i class="las la-money-check"></i>
                    </div>
                    <div class="info">
                        <h2>
                            Car Sold
                        </h2>
                        <p>Every 4 minute</p>
                    </div>
                </div>
                <div class="one">
                    <div class="icon">
                        <i class="las la-tag"></i>
                    </div>
                    <div class="info">
                        <h2>
                            Offers
                        </h2>
                        <p>Stay updated pay less</p>
                    </div>
                </div>
                <div class="one">
                    <div class="icon">
                        <i class="las la-car-alt"></i>
                    </div>
                    <div class="info">
                        <h2>Compare</h2>
                        <p>Decode the right car</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="section-one-child">
            <div class="bottom-footer-area">
                <!-- footer list one -->
                <div class="two">
                    <h5>OVERVIEW</h5>
                    <div class="list">
                        <ul>
                            <li>
                                <a href="#">
                                    About us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    FAQs
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Privacy Policy
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Terms & Conditions
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Corporate Policies
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Investors
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- footer list two -->
                <div class="two">
                    <h5>OTHERS</h5>

                    <div class="list">
                        <ul>
                            <li>
                                <a href="#">
                                    Advertise with Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Careers
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Customer Care
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- footer list three -->
                <div class="two">
                    <h5>CONNECT WITH US</h5>
                    <div class="list">
                        <ul>
                            <li>
                                <a href="#">
                                    1800 200 3000 (Toll-Free)
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    support@cardekho.com
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Dealer solutions
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Used Cars Business
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Feedback
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- footer list four -->
                <div class="two">
                    <h5>EXPERIENCE CARDEKHO APP</h5>
                    <div class="list">
                        <div class="apps-image">
                            <img src="../../../assets/image/apps-image/appstore.png" alt="">
                            <img src="../../../assets/image/apps-image/playstore.png" alt="">
                        </div>

                        <div class="web-site">
                            <h5>Follow us</h5>
                            <div class="web-icon">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- finished footer -->
    <div class="finished-footer">
        <div class="section-one-child">
            <div class="finished-footer-child">
                <div class="copyright-text">
                    <P class="copy-text">
                        &copy; 2022 Girnar Software Pvt. Ltd.
                    </P>
                </div>

                <div class="other-company-image">
                    <img src="../../../assets/image/company-image/zigwheels.webp" alt="">
                    <img src="../../../assets/image/company-image/bikedekho.png" alt="">
                    <img src="../../../assets/image/company-image/id-main-logo.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>