<section class="section">

    <div class="top-footer">
        <div class="section-one-child">
            <div class="top-footer-area">
                <div class="one">
                    <div class="icon">
                        <i class="lab la-angellist"></i>
                    </div>
                    <div class="info">
                        <h2>
                            India’s #1
                        </h2>
                        <p>Largest Auto portal</p>
                    </div>
                </div>
                <div class="one">
                    <div class="icon">
                        <i class="las la-money-check"></i>
                    </div>
                    <div class="info">
                        <h2>
                            Car Sold
                        </h2>
                        <p>Every 4 minute</p>
                    </div>
                </div>
                <div class="one">
                    <div class="icon">
                        <i class="las la-tag"></i>
                    </div>
                    <div class="info">
                        <h2>
                            Offers
                        </h2>
                        <p>Stay updated pay less</p>
                    </div>
                </div>
                <div class="one">
                    <div class="icon">
                        <i class="las la-car-alt"></i>
                    </div>
                    <div class="info">
                        <h2>Compare</h2>
                        <p>Decode the right car</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="section-one-child">

        </div>
    </div>
</section>